body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
p {
    line-height: 1.6;
}
a {
    color: #333;
    text-decoration: none;
}

.card-product {
    border-radius: 5px;
    overflow: hidden;
    background: white;
    display: flex;
    align-items: center;
}

.card-product h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 5px;
}

.card-product .card-product-infos {
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 8px;
    flex-wrap: wrap;
}

.card-product:hover {
    background-color: #f4f4f4;
}

.keyword {
    border-radius: 2px;
    font-size: 14px;
    background-color: #f4f4f4;
    padding: 2px 4px;
}